.container-todo-details {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 1.2rem
}

.details-splash {
  background-color: var(--color-btn-gray);
  border-radius: 5px;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-items: center;
  align-items: center;
  height: 40rem;
}

.image-splash {
  height: 18rem
}

.text-splash {
  align-self: self-end;
}

.todo-details {
  background-image: linear-gradient(var(--color-btn-gray), var(--color-light-gray) 200%);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
  padding: 2.4rem;
  height: 40rem;
  max-height: 40rem;
}

.removed {
  display: none
}

.todo-header {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-status {
  justify-self: self-end
}

.todo-main-content {
  grid-row: 2 / 6;
  display: grid;
  grid-template-rows: 3.5fr 1fr;
  padding-top: 1rem
}

.todo-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todo-created, .todo-deadline {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.todo-deadline {
  justify-self: self-end;
}

.todo-created-title,
.todo-deadline-title {
  display: flex;
  align-items: center;
  gap: 0.8rem
}

.icon-details {
  height: 1.6rem;
  width: 1.6rem;
}


.edit-delete-todo {
  grid-row: 6 / 7;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.btn-edit, .btn-delete {
  color: var(--color-primary-darker);
  transition: all .3s;
}

.btn-edit:hover, .btn-delete:hover {
  background-image: linear-gradient(var(--color-primary), var(--color-primary-darker) 100%);
  color: var(--color-btn-gray);
  transform: scale(1.1);
}

.icon-edit, .icon-delete {
  height: 2rem;
  width: 2rem;
}