
/*----- NAVIGATION in container -------*/
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: end;
}

.nav-item {
  color: var(--color-primary-darker);
}

.icon-btn-nav {
  height: 2rem;
  width: 2rem;
}

.btn-open {
  background-image: none;
  background-color: var(--color-primary);
  color: var(--color-btn-gray);
}

.btn-open:hover, .btn-open:active {
  background-color: var(--color-primary-darker);
  color: var(--color-btn-gray)
}

.btn-reset {
  background-color: transparent;
  box-shadow: 0px 0px 2px 0px var(--color-light-gray);
  color: var(--color-light-gray)
}

.btn-reset:hover, .btn-reset:active {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}

/*----- SPLASH in container -------*/

.details-splash {
  height: 100%;
  background-color: var(--color-btn-gray);
  border-radius: 5px;
  font-size: 1.8rem;
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-items: center;
  align-items: center;
}

.image-splash {
  height: 18rem
}

.text-splash {
  align-self: self-end;
}

/*----- DETAILS in container -------*/

.todo-details {
  background-image: linear-gradient(var(--color-btn-gray), var(--color-light-gray) 200%);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-size: 1.8rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3.2rem;
  height: 100%;
}

.removed {
  display: none
}

.todo-header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-status {
  display: flex;
  align-items: center;
  gap: 0.8rem
}

.todo-main-content {
  grid-row: 2 / 6;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 1fr auto;
}

.todo-description {
  align-self: center;
  word-break:break-word;
}

.todo-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todo-created, .todo-deadline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: center;
}

.todo-deadline {
  align-items: end;
}

.todo-created {
  justify-items: start;
}

.todo-created-title,
.todo-deadline-title {
  display: flex;
  align-items: center;
  gap: 0.8rem
}

.icon-details {
  height: 2rem;
  width: 2rem;
}

.edit-delete-todo {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: end;
}

.icon-edit, .icon-delete {
  height: 2rem;
  width: 2rem;
}

.btn-edit {
  background-image: none;
  background-color: var(--color-primary);
  color: var(--color-btn-gray);
}

.btn-edit:hover, .btn-edit:active {
  background-color: var(--color-primary-darker);
  color: var(--color-btn-gray)
}

.btn-delete {
  background-color: transparent;
  box-shadow: 0px 0px 2px 0px var(--color-dark-gray);
  color: var(--color-dark-gray)
}

.btn-delete:hover, .btn-delete:active {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}
