.page-header {
    max-height: 12rem;
    display: flex;
    align-items: center;
    gap: 4rem
}

.page-header-logo {
    max-height: 8rem;
    background-color: transparent;
}

.page-header h1 {
    font-size: 3rem;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
    align-self: end;
}
h1 span {
    display: flex;
    flex-direction: column;
}
h1 span::before,
h1 span::after {
    pointer-events: none;
    backface-visibility: hidden;
}

h1 span svg.svg-underline {
    position: relative;
    z-index: -1;
    overflow: hidden;
    margin: 0;
    opacity: 0.7;
    transform: translateY(-80%);
    fill: none;
    stroke: var(--color-primary-lighter);
    stroke-width: 36;
}
