.page-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: stretch;
  max-height: 12rem;
  align-items: center;
  padding-top: 2rem;
  /* background-color: aquamarine; */
}

.page-header-logo {
  max-height: 8rem;
  font-weight: bold;
  background-color: transparent;
}

.nav {
  grid-column: 6 / 7;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
}

.nav-item {
  color: var(--color-primary-darker);
}


.icon-btn-nav {
  height: 2rem;
  width: 2rem;
}

.nav-btn:hover {
  background-image: linear-gradient(var(--color-primary), var(--color-primary-darker) 100%);
  color: var(--color-btn-gray);
  transform: scale(1.1);
}