.todos-container {
  background-color: var(--color-dark-gray);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-around;
  height: 56rem;
  column-gap: 1.2rem
}