.todos-container {
  background-color: var(--color-dark-gray);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  grid-template-rows: auto 1fr auto;
  row-gap: 2rem;
  align-items: center;
  justify-items: stretch;
  height: 56rem;
  padding: 1.6rem
}