.container-todos-preview {
  flex: 1;
  margin: 0.5rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sort-todos {
  flex: 1;
  justify-content: right;
}

.todos-list {
  flex: 10;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* the last element .pagination has flex 1 and it is defined in pagination.css */

.preview-todo-item {
  background-image: linear-gradient(var(--color-btn-gray), var(--color-light-gray) 150%);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--box-shadow);
  height: 4rem;
  line-height: 1.3rem;
  display: grid;
}

.preview-todo-item:hover {
  background-image: linear-gradient(var(--color-btn-gray), var(--color-light-gray) 50%);
}

.preview-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview-todo-item h4, .preview-todo-item span {
  margin: 0
}

.preview-todo-title {
  margin: auto;
  padding-top: 0.3rem;
}

.preview-todo-info {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-preview {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.2rem;
}

.preview-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon-clock-preview {
  height: 1.5rem;
  width: 1.5rem
}

.preview-todo-deadline, .preview-todo-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-expiring {
  background-image: linear-gradient(var(--color-whiteish), var(--color-secondary-lighter) 70%);
  color: var(--color-btn-gray);
  animation: pulse-almost 10s infinite ease-in-out;
}

.item-expiring:hover {
  background-image: linear-gradient(var(--color-secondary-lighter), var(--color-secondary-darker) 70%);
  color: var(--color-btn-gray);
}

.item-active {
  background-image: linear-gradient(var(--color-primary-lighter), var(--color-primary-darker) 150%);
  color: var(--color-btn-gray)
}

.item-active:hover {
  background-image: linear-gradient(var(--color-primary-lighter), var(--color-primary) 50%);
}

.btn-sort {
  float: right;
  font-size: 0.8rem;
  padding: 0.4rem;
}

.btn-sort span {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.btn-sort:hover {
  color: var(--color-btn-gray);
  background-image: linear-gradient(var(--color-primary), var(--color-primary-darker) 100%);
}

@keyframes pulse-almost {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.95);
  }

  20% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}