.container-todos-preview {
  /*height: 48rem;*/
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-left: 1.2rem;
}

.sort-todos {
  justify-self: right;
  margin-bottom: 2rem;
}

.btn-sort {
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.4rem
}

.icon-sort {
  height: 1.4rem;
  width: 1.4rem;
}

.btn-sort:hover {
  color: var(--color-btn-gray);
  background-image: linear-gradient(var(--color-primary), var(--color-primary-darker) 100%);
}

.todos-list {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  font-size: 1.8rem;
  height: 42rem;
  max-height: 42rem;
}


.preview-todo-item {
  background-image: linear-gradient(var(--color-btn-gray), var(--color-light-gray) 150%);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.preview-todo-item:hover {
  background-image: linear-gradient(var(--color-btn-gray), var(--color-light-gray) 50%);
}

.preview-link {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2rem;
  margin-top: 0.8rem
}

.preview-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.preview-todo-title {
  justify-self: self-start
}

.icon-clock-preview {
  height: 1.6rem;
  width: 1.6rem
}

.preview-todo-info {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.icon-preview {
  height: 1.4rem;
  width: 1.4rem;
}

.preview-todo-deadline, .preview-todo-status {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  align-items: flex-end;
}

.item-expiring {}

.item-active {
  background-image: linear-gradient(var(--color-primary-lighter), var(--color-primary-darker) 150%);
  color: var(--color-btn-gray)
}

.item-active:hover {
  background-image: linear-gradient(var(--color-primary-lighter), var(--color-primary) 50%);
}



@keyframes pulse-almost {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.95);
  }

  20% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}